body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg,rgb(243, 241, 241), rgba(0, 163, 235, 0.6), rgb(0, 153, 255)) center / cover no-repeat;
}

#nav-container {
    display: flex;
    justify-content: space-around;
    border: 3px solid mistyrose;
}

#nav-link-list, #social-link-list {
    list-style: none;
    display: flex;
}

#nav-link-list li, #social-link-list li {
    border: 1px solid orange;
}