body,html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#outside-container {
    border: 2px solid goldenrod;
    min-height: 100vh;
    padding: 5px;
}

.box {
    height: 200px;
    width: 300px;
    border: 1px solid black;
    color: white;
    font-size: 1.5em;
    font-weight: 900;
    padding: 10px 0 0 10px;
}

.one {
    background-color: rgb(22, 36, 230);
}

.two {
    background-color: rgb(216, 44, 44);
}

.three {
    background-color: rgb(218, 150, 24);
}

.four {
    background-color: rgb(0, 255, 42);
}

.five {
    background-color: rgb(255, 0, 179);
}

.six {
    background-color: rgb(255, 238, 0);
}

.seven {
    background-color: rgb(0, 225, 255);
}

.eight {
    background-color: rgb(98, 0, 255);
}

.nine {
    background-color: rgb(85, 79, 81);
}

.ten {
    background-color: rgb(219, 217, 212);
}