html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  background-color: lightblue;
  padding: 10px;
}

.box {
  border: 1px solid rgb(49, 49, 43);
  height: 150px;
  width: 300px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(182, 56, 10);
  font-size: 3em;
}

.box1 {
  background-color: darkblue;
}

.box2 {
  background-color: orange;
}

.box3 {
  background-color: yellow;
}

.box4 {
  background-color: darksalmon;
}
