body {
    display: grid;
    grid-template-columns: repeat(10, minmax(200px, 600px));
    grid-template-rows: repeat(5, minmax(300px, 500px));
    height: 100%;
    width: 100%;
    column-gap: 10px;
}

img {
  border: 1px solid red;
  width: 100%;
}

/* @media only screen and (min-width: 800px) {
  img {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  img {
    border: 6px solid salmon;
    width: 50vw;
  }

  li {
    border: 1px dashed green;
  }
}
@media only screen and (max-width: 400px) {
 div {
     background-color: black;
 }
} */


